<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal" autocomplete="off">
  <!-- 模态框头部 -->
  <div class="modal-header">
    <div class="modal-title">
      <!-- <i class="anticon anticon-medicine-box mr-sm"></i> -->
      <span *ngIf="entity.id">{{l('Edit')}}</span>
      <span *ngIf="!entity.id">{{l('Create')}}</span>
    </div>
  </div>
  <!-- 模态框内容 -->
  <fieldset>
    <!-- 提示信息 -->

    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tradeName" nzRequired>票型名称</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="ticketName" #ticketName="ngModel" required [(ngModel)]="entity.ticketName">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tradeInfo" nzRequired>标识码</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="ticketCode" #ticketCode="ngModel" required [(ngModel)]="entity.ticketCode">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sort">排序</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="sort" #sort="ngModel" required [(ngModel)]="entity.sort">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lowerLimit">购票数量下限</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="lowerLimit" #lowerLimit="ngModel" required [(ngModel)]="entity.lowerLimit">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="upperLimit">购票数量上限</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="upperLimit" #upperLimit="ngModel" required [(ngModel)]="entity.upperLimit">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="audioName">音频</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <nz-upload [nzAction]="uploadurl" [nzShowUploadList]="false" [nzHeaders]="hearder" nzName="file" nzAccept="audio/*" nzFileType="audio/wav,audio/mp3,audio/m4a,audio/mp4"
        (nzChange)="handleChange($event)">
        <button nz-button type="button"><span>上传</span></button>
      </nz-upload>
      <!-- <span style="margin-left: 10px">{{audioName}}</span> -->
    </nz-form-control>
  </nz-form-item>



    <!-- <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="scenicspot">有效日期</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <nz-range-picker style="width: 100%" name="dateRange" [(ngModel)]="dateRange"
          (ngModelChange)="onChange1($event)"></nz-range-picker>
      </nz-form-control>
    </nz-form-item> -->

    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="group">是否团体</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <nz-radio-group [nzButtonStyle]="'solid'" name="group" [(ngModel)]="entity.group">
          <label nz-radio-button [nzValue]="0">散客票</label>
          <label nz-radio-button [nzValue]="1">团体票</label>
          <!-- <label nz-radio-button [nzValue]="2">卡类</label> -->
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ticketMode">一票多次</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <nz-radio-group [nzButtonStyle]="'solid'" name="ticketMode" [(ngModel)]="entity.ticketMode">
          <label nz-radio-button nzValue="OnebyOne">{{l('OnebyOne')}}</label>
          <label nz-radio-button nzValue="OneByMore">{{l('OneByMore')}}</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

<!--     <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="radioValue">验票方式</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <nz-radio-group [nzButtonStyle]="'solid'" name="checkMethod" [(ngModel)]="entity.checkMethod">
          <label nz-radio-button nzValue="NumberCheck">{{l('NumberCheck')}}</label>
          <label nz-radio-button nzValue="TimeCheck">{{l('TimeCheck')}}</label>
          <label nz-radio-button nzValue="BalanceCheck">{{l('BalanceCheck')}}</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item> -->

    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isEnabled">是否启用</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <label nz-checkbox name="isEnabled" #isEnabled="ngModel" [(ngModel)]="entity.isEnabled"></label>
      </nz-form-control>
    </nz-form-item>
  </fieldset>
  <!-- 模态框底部 -->
  <div class="modal-footer">
    <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
      <!-- <i class="anticon anticon-close-circle-o"></i>  -->
      {{l("Cancel")}}
    </button>
    <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid|| saving"
    [nzLoading]="saving">
    <!-- <i class="anticon anticon-save" *ngIf="!saving"></i>  -->
    {{l("Save")}}
  </button>
</div>
</form>
