<nz-card [nzBordered]="false">
  <div class="mb-md">
    <nz-row nzGutter="16">
      <form nz-form class="mb-md" [nzLayout]="'inline'" [nzNoColon]="true">
        <nz-form-item>
          <nz-form-label nzFor="position">显示位置</nz-form-label>
          <nz-form-control>
            <nz-select required [(ngModel)]="queryData[0].value" name="position" nzAllowClear style="width: 120px">
              <nz-option nzValue="windows" nzLabel="线下窗口"></nz-option>
              <nz-option nzValue="Online" nzLabel="线上购票"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="formitem">
          <nz-form-label nzFor="deviceName">票型别名</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input name="deviceName" [(ngModel)]="queryData[1].value" style="width: 120px">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>源票型</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="queryData[2].value" nzAllowClear style="width: 120px" name="ticketName">
              <nz-option *ngFor="let item of ticketList;let i = index;" [nzValue]="item.id" [nzLabel]="item.ticketName"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item style="margin:4px 8px 0 10px;">
          <button nz-button nzType="primary" type="submit" (click)="refresh()">
            <span>
              {{l("Query")}}
            </span>
          </button>
          <button nz-button [nzType]="'primary'" (click)="createOrEdit()">
            <span>
              {{l("Create")}}
            </span>
          </button>
          <button nz-button [nzType]="'danger'" (click)="batchDelete()">
            <span>
              {{l("BatchDelete")}}
            </span>
          </button>
        </nz-form-item>
      </form>
    </nz-row>
  </div>
  <!-- 实体的表格内容 -->
  <nz-row class="my-md">
    <nz-table #ajaxTable [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" (nzPageIndexChange)="pageNumberChange()" (nzPageSizeChange)="refresh()" [nzScroll]="{ x: '1390px'}" style="word-break:break-all" [nzShowSizeChanger]="true" [nzShowQuickJumper]="true" [nzNoResult]="noDataTemplate" [nzFrontPagination]="false" nzBordered>
      <!-- 暂无数据组件 -->
      <ng-template #noDataTemplate>
        <no-data></no-data>
      </ng-template>
      <!-- 表头 -->
      <thead (nzSortChange)="gridSort($event)">
        <tr>
          <th nzShowCheckbox [(nzChecked)]="allChecked" [nzDisabled]="allCheckboxDisabled" [nzIndeterminate]="checkboxIndeterminate" (nzCheckedChange)="checkAll($event)" nzWidth="60px" nzLeft="0px">
          </th>
          <th nz-th class="text-center" nzWidth="130px">
            <span>票价别名</span>
          </th>
          <th nz-th class="text-center" nzWidth="130px">
            <span>票价</span>
          </th>
          <th nz-th class="text-center" nzWidth="130px">
            <span>源票型</span>
          </th>
          <th nz-th class="text-center" nzWidth="130px">
            <span>票型标识码</span>
          </th>
          <!--           <th nz-th class="text-center" nzWidth="130px">
            <span>源标识码</span>
          </th> -->
          <th nz-th class="text-center" nzWidth="130px">
            <span>是否启用</span>
          </th>
          <th nz-th class="text-center" nzWidth="130px">
            <span>是否团体</span>
          </th>
          <!--           <th nz-th class="text-center" nzWidth="130px">
            <span>音频</span>
          </th> -->
          <th nz-th class="text-center" nzWidth="130px">
            <span>显示位置</span>
          </th>
          <th nz-th class="text-center" nzWidth="200px">
            <span>上架时间</span>
          </th>
          <th class="text-center" nzWidth="200px">
            <span>下架时间</span>
          </th>
          <th class="text-center" nzWidth="130px">
            <span>排序</span>
          </th>
          <!--           <th class="text-center" nzWidth="130px">
            <span>创建人</span>
          </th> -->
          <th class="text-center" nzWidth="130px">
            <span>操作</span>
          </th>
        </tr>
      </thead>
      <!-- 表格内容 -->
      <tbody>
        <tr *ngFor="let item of ajaxTable.data">
          <!-- 全选框 -->
          <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshCheckStatus(dataList)" nzWidth="60px" nzLeft="0px"></td>
          <td nz-td class="text-center">
            <span>
              {{item.ticketName}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{item.price}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{l(item.ticket.ticketName)}}
            </span>
          </td>
          <!--           <td nz-td class="text-center">
            <span>
              {{item.ticket.ticketCode}}
            </span>
          </td> -->
          <td nz-td class="text-center">
            <span>
              {{item.ticket.ticketCode}}
            </span>
          </td>
          <td nz-td class="text-center" [innerHTML]='item.isEnabled | yn'>
          </td>
          <td nz-td class="text-center">
            <span *ngIf="item.ticket.group == 0">散客票</span>
            <span *ngIf="item.ticket.group == 1">团体票</span>
            <span *ngIf="item.ticket.group == 2">卡类</span>
          </td>
          <!--           <td nz-td class="text-center">
            <span>
              {{l(item.ticket.audioName)}}
            </span>
          </td> -->
          <td nz-td class="text-center">
            <span>
              {{l(item.position)}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{l(item.upperTime |_date)}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{l(item.lowerTime|_date)}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{l(item.sort)}}
            </span>
          </td>
          <!--           <td nz-td class="text-center">
            <span>
              {{l(item.creatorUser)}}
            </span>
          </td> -->
          <td nz-td class="text-center">
            <ng-container>
              <a (click)="createOrEdit(item.id)">
                <span>{{l('Edit')}}</span>
              </a>
              <nz-divider nzType="vertical"></nz-divider>
            </ng-container>
            <ng-container>
              <nz-popconfirm [nzTitle]="l('ConfirmDeleteWarningMessage')" (nzOnConfirm)="delete(item)" [nzOkText]="l('Confirm')" [nzCancelText]="l('Cancel')" [nzOkType]="'danger'">
                <a nz-popconfirm>
                  <span>{{l('Delete')}}</span>
                </a>
              </nz-popconfirm>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-row>
</nz-card>
