<nz-card [nzBordered]="false">
  <div class="mb-md">
    <nz-row nzGutter="8">
      <form nz-form class="mb-md" [nzLayout]="'inline'" [nzNoColon]="true">
        <nz-form-item>
          <nz-form-label nzFor="deviceId">设备名称</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="queryData[0].value" nzAllowClear name="deviceId" style="width: 150px">
              <nz-option *ngFor="let item of devicList;let i = index;" [nzValue]="item.id" [nzLabel]="item.deviceName">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="deviceId">票码</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input name='ticketcode' [(ngModel)]="queryData[1].value" style="width: 150px">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="formitem">
          <nz-form-label nzFor="scheduleCode">证件类型</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="ticketId" nzAllowClear style="width: 150px" name="boat">
              <nz-option *ngFor="let item of ticketlist;let i = index;" [nzValue]="item.ticketName"
                [nzLabel]="item.ticketName"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="formitem">
          <nz-form-label nzFor="scheduleCode">验票结果</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="ticketId" nzAllowClear style="width: 150px" name="boat">
              <nz-option *ngFor="let item of ticketlist;let i = index;" [nzValue]="item.ticketName"
                [nzLabel]="item.ticketName"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="formitem">
          <nz-form-label>检票时间</nz-form-label>
          <nz-form-control>
            <nz-range-picker style="width: 230px" nzFormat="yyyy-MM-dd" (ngModelChange)="datechange($event)"
              name="collectionTime" [nzDisabledDate]="disabledDate" [(ngModel)]="collectionTime"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <button nz-button [nzType]="'primary'" type="submit" (click)="refresh()">
            <span>
              查询
            </span>
          </button>
        </nz-form-item>
      </form>
    </nz-row>
  </div>
  <nz-row class="my-md">
    <nz-table #ajaxTable [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber"
      [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" (nzPageIndexChange)="pageNumberChange()"
      (nzPageSizeChange)="refresh()" [nzShowSizeChanger]="true" [nzShowQuickJumper]="true" [nzNoResult]="noDataTemplate"
      [nzFrontPagination]="false" nzBordered [nzScroll]="{ x: '1330px'}" style="word-break:break-all">
      <!-- 暂无数据组件 -->
      <ng-template #noDataTemplate>
        <no-data></no-data>
      </ng-template>
      <!-- 表头 -->
      <thead (nzSortChange)="gridSort($event)">
        <tr>
          <th nzShowCheckbox [(nzChecked)]="allChecked" [nzDisabled]="allCheckboxDisabled"
            [nzIndeterminate]="checkboxIndeterminate" (nzCheckedChange)="checkAll($event)" nzWidth="60px" nzLeft="0px">
          </th>

          <th nz-th class="text-center" nzWidth="100px">
            <span>票型名称</span>
          </th>
          <th nz-th class="text-center" nzWidth="100px">
            <span>票码</span>
          </th>
          <th nz-th class="text-center" nzWidth="100px">
            <span>证件类型</span>
          </th>
          <th nz-th class="text-center" nzWidth="150px">
            <span>验证信息</span>
          </th>
          <th nz-th class="text-center" nzWidth="100px">
            <span>验票结果代码</span>
          </th>
          <th nz-th class="text-center" nzWidth="100px">
            <span>验票结果</span>
          </th>
          <th nz-th class="text-center" nzWidth="100px">
            <span>设备名称</span>
          </th>
          <th nz-th class="text-center" nzWidth="120px">
            <span>设备编号</span>
          </th>
          <th nz-th class="text-center" nzWidth="100px">
            <span>操作员</span>
          </th>
          <th nz-th class="text-center" nzWidth="100px">
            <span>验票次数</span>
          </th>
          <th nz-th class="text-center" nzWidth="150px">
            <span>验证时间</span>
          </th>
     
        </tr>
      </thead>
      <!-- 表格内容 -->
      <tbody>
        <tr *ngFor="let item of ajaxTable.data">
          <!-- 全选框 -->
          <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshCheckStatus(dataList)" nzLeft="0px">
          </td>

          <td nz-td class="text-center">
            <span *ngIf="item.device">
              {{item.device.deviceName}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span *ngIf="item.device">
              {{item.device.deviceCode}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{item.ticketNo}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span *ngIf="item.customer">
              {{item.customer.customerName}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{item.visitValue}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{item.validationType}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{item.ticketName}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{l(item.statusCode)}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{item.statusText}}
            </span>
          </td>
          <td class="text-center">
            <span>
              {{item.checkTime |_date}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span *ngIf="item.checker">
              {{item.checker.name}}
            </span>
          </td>
  
        </tr>
      </tbody>
    </nz-table>
  </nz-row>
</nz-card>
