<div [@routerTransition] style="height: 100%;">
  <div class="login-panel">
    <nz-spin [nzTip]="l('LogIningWithThreeDot')" [nzSpinning]="submitting" class="login-spin">
      <nz-card [nzTitle]="nzTitle">
        <ng-template #nzTitle>
          <div class="text-center yoyo__block">
            <!-- <div class="tabtext">{{ l("UserLogin") }}</div> -->
            <div class="tabtext">用户登录</div>
          </div>
        </ng-template>
        <form nz-form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
          <br />
          <nz-form-item>
            <nz-form-control style="width: 100%;">
              <nz-input-group [nzSuffix]="suffixTemplateInf">
                <img src="/assets/images/login/user.png" class="icon-diy">
                <input class="login-input" nz-input name="userNameOrEmailAddress" #userNameOrEmailAddressInput="ngModel" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" placeholder="用户名" required maxlength="32" />
              </nz-input-group>
              <ng-template #suffixTemplateInf>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control style="width: 100%;">
              <nz-input-group [nzSuffix]="suffixTemplateInfo">
                <img src="/assets/images/login/lock.png" class="icon-diy">
                <input class="login-input" nz-input name="password" #passwordInput="ngModel" [(ngModel)]="loginService.authenticateModel.password" [placeholder]="l('Password')" type="{{hidepwd?'password':'text'}}" required maxlength="32" />
              </nz-input-group>
              <ng-template #suffixTemplateInfo>
                <i nz-icon nzType="eye-invisible" nzTheme="fill" style="font-size: 18px;color: #ccc;margin-right: -5px;" *ngIf="hidepwd" (click)="changepwd()"></i>
                <i nz-icon nzType="eye" nzTheme="fill" style="font-size: 18px;color: #ccc;margin-right: -5px;" *ngIf="!hidepwd" (click)="changepwd()"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-control style="width: 100%;">
              <nz-input-group [nzSuffix]="captchaTemplateInfo">
                <img src="/assets/images/login/check.png" class="icon-diy">
                <input class="login-input" nz-input name="verificationCode" #verificationCodeInput="ngModel" [(ngModel)]="loginService.authenticateModel.verificationCode" [placeholder]="l('CAPTCHA')" type="text" (click)="initImg()" (keyup)="onKey($event)" required maxlength="6">
              </nz-input-group>
              <ng-template #captchaTemplateInfo>
                <img (click)="clearimg()" [src]="verificationImgUrl" style="width:5.625vw;margin-right: 2px">
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <button nz-button [nzLoading]="submitting" class="yoyo__block loginbtn" [disabled]="!loginForm.form.valid || submitting">
            <span class="loginspan">{{ l("LogIn") }}</span>
          </button>
        </form>
      </nz-card>
    </nz-spin>
  </div>
</div>
