<page-header [title]="l('DemoManagement')"></page-header>

<!-- 演示功能  markdown编辑器 -->
<nz-card [nzTitle]="l('DemoMarkDown')">

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">

    <nz-form-item>
      <nz-form-control [nzErrorTip]="l('FormIsNotValidMessage')">
        <nz-input-group>
          <simplemde formControlName="content"></simplemde>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">{{ l('Save') }}</button>
        <button nz-button nzType="default" (click)="resetForm($event)">{{ l('Reset') }}</button>
      </nz-form-control>
    </nz-form-item>
  </form>

</nz-card>



<!-- 演示功能 导出 -->
<nz-card [nzTitle]="l('ExportToExcel')">

  <nz-row nzGutter="8">
    <nz-col nzMd="20" nzSm="12" class="btn-gutter">
      <button nz-button nzType="default" (click)="exportToExcel()">
        <i class="anticon anticon-file-excel"></i>
        <span>
          {{l("ExportToExcel")}}
        </span>
      </button>
    </nz-col>
  </nz-row>
  <!-- 表格内容 -->
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>{{l('UserName')}}</th>
        <th>{{l('Roles')}}</th>
        <th>{{l('CreationTime')}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.userName }}</td>
        <td>
          <ellipsis lines="1">
            <span>
              <nz-tag *ngFor="let role of data.roles">
                {{role.roleName}}
              </nz-tag>
            </span>
          </ellipsis>
        </td>
        <td> {{data.creationTime|_date}}</td>
      </tr>
    </tbody>
  </nz-table>



</nz-card>
