<nz-card [nzBordered]="false">
  <nz-row>
    <form nz-form class="mb-md" [nzLayout]="'inline'" [nzNoColon]="true" style="border-bottom: 1px solid #ccc;">
      <nz-form-item class="formitem">
        <nz-form-label nzFor="info1">订单号</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input name="OrderNumber" [(ngModel)]="queryData[1].value" style="width: 220px">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formitem">
        <nz-form-label nzFor="info2">二维码</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input name="Ticketcode" placeholder="二维码" [(ngModel)]="queryData[0].value"
            style="width: 280px">
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item class="formitem">
        <nz-form-label nzFor="info3">手机号</nz-form-label>
        <nz-form-control>
          <input nz-input name="Buyer" [(ngModel)]="queryData[2].value" style="width: 180px">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formitem">
        <nz-form-label nzFor="info3">证件类型</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="queryData[2].value" nzAllowClear style="width: 120px" name="status">
            <nz-option nzValue="身份证" nzLabel="身份证"></nz-option>
            <nz-option nzValue="护照" nzLabel="护照"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formitem">
        <nz-form-label nzFor="CertificatesNum">证件号</nz-form-label>
        <nz-form-control>
          <input style="width: 180px" nz-input name="CertificatesNum" [(ngModel)]="certificatesNum">
        </nz-form-control>
      </nz-form-item> -->
      <nz-form-item style="margin:0 8px 0 10px;">
        <button nz-button (click)="query()" nzSize="small"
          style="margin-top: 4px;padding: 0px 20px;height: 32px;background: #3086c4;color: #fff">查询订单</button>
      </nz-form-item>
    </form>
  </nz-row>
  <nz-row style="display: flex;">
    <nz-col style="width: 100%;margin-top: 20px" *ngIf="!single">
      <nz-table #ajaxTable1 [nzData]="orderlist" [nzScroll]="{ x: '1180px' }" style="word-break:break-all" nzBordered>
        <ng-template #noDataTemplate>
          <no-data></no-data>
        </ng-template>
        <thead>
          <tr>
            <th class="text-center" nzWidth="200px">
              <span>订单号</span>
            </th>
<!--             <th class="text-center" nzWidth="130px">
              <span>名字</span>
            </th>
            <th class="text-center" nzWidth="150px">
              <span>手机号</span>
            </th> -->
            <th class="text-center" nzWidth="160px">
              <span>总数量</span>
            </th>
            <th class="text-center" nzWidth="80px">
              <span>支付方式</span>
            </th>
            <th class="text-center" nzWidth="80px">
              <span>支付状态</span>
            </th>
            <th class="text-center" nzWidth="130px">
              <span>创建时间</span>
            </th>
            <th class="text-center" nzWidth="120px" nzRight="0px">
              <span>操作</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ajaxTable1.data; let i = index;">
            <td class="text-center">
              <span>
                {{item.activityNo}}
              </span>
            </td>
<!--             <td class="text-center">
              <span>
                {{item.buyer}}
              </span>
            </td>
            <td class="text-center">
              <span>
                {{item.mobile}}
              </span>
            </td> -->
            <td class="text-center">
              <span>
                {{item.totalQuantity}}
              </span>
            </td>
            <td class="text-center">
              <span>
                {{item.payMethod.payName}}
              </span>
            </td>
            <td class="text-center">
              <span>
                {{l(item.payStatus)}}
              </span>
            </td>
            <td class="text-center">
              <span>
                {{item.creationTime|_date}}
              </span>
            </td>
            <td class="text-center">
              <ng-container>
                <a (click)="select(item)">
                  <span>选择</span>
                </a>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-col>





    <nz-col style="width: 70%;margin-top: 20px" *ngIf="single">
      <nz-table #ajaxTable [nzData]="orderticket" [nzScroll]="{ x: '915px',y:'460px' }" style="word-break:break-all"
        nzBordered>
        <ng-template #noDataTemplate>
          <no-data></no-data>
        </ng-template>
        <thead>
          <tr>
            <th nzShowCheckbox [(nzChecked)]="allChecked" [nzDisabled]="allCheckboxDisabled" [nzIndeterminate]="checkboxIndeterminate"
              (nzCheckedChange)="checkAll($event)" nzWidth="60px">
              <!-- <th nz-th nzWidth="60px" nzLeft="0px"></th> -->
            <th class="text-center" nzWidth="130px">
              <span>票型名称</span>
            </th>
<!--             <th class="text-center" nzWidth="80px">
              <span>名字</span>
            </th>
            <th class="text-center" nzWidth="140px">
              <span>手机号</span>
            </th> -->
            <th class="text-center" nzWidth="235px">
              <span>票码</span>
            </th>
            <th class="text-center" nzWidth="90px">
              <span>售价</span>
            </th>
            <th class="text-center" nzWidth="100px">
              <span>门票状态</span>
            </th>
            <th class="text-center" nzWidth="150px">
              <span>开始有效期</span>
            </th>
            <th class="text-center" nzWidth="150px">
              <span>结束有效期</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ajaxTable.data; let i = index;">
            <!-- <td nz-td nzShowCheckbox [nzDisabled]="item.isPrint" (nzCheckedChange)="checkticket(i,item)" nzLeft="0px"></td> -->
            <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshCheckStatus(orderticket)"></td>
            <!-- [nzDisabled]="item.ticketStatus!=='Activate'" -->
            <td class="text-center">
              <span>
                {{item.ticketPriceName}}
              </span>
            </td>
<!--             <td class="text-center">
              <span>
                {{item.customer.customerName}}
              </span>
            </td>
            <td class="text-center">
              <span>
                {{item.customer.mobile}}
              </span>
            </td> -->
            <td class="text-center">
              <span>
                {{item.qrCode}}
              </span>
            </td>
            <td class="text-center">
              <span>
               {{item.ticketPrice}}
              </span>
            </td>
            <td class="text-center">
              <span>
                {{l(item.ticketStatus)}}
              </span>
            </td>
            <td class="text-center">
              <span>
                {{item.startDateTime|_date}}
              </span>
            </td>
            <td class="text-center">
              <span>
                {{item.endDateTime|_date}}
              </span>
            </td>

          </tr>
        </tbody>
      </nz-table>
    </nz-col>





    <nz-col style="width: 30%;" *ngIf="single">
      <div class="borderbox">
        <form nz-form class="mb-md">
          <nz-form-item class="formitem1">
            <nz-form-label class="my-form-label" [nzSm]="8"><span>订单号</span></nz-form-label>
            <nz-form-control [nzSm]="16">
              <span>{{orderinfo.activityNo}}</span>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="formitem1">
            <nz-form-label class="my-form-label" [nzSm]="8"><span>订单来源</span></nz-form-label>
            <nz-form-control [nzSm]="16">
              <span *ngIf="orderinfo.source&&orderinfo.source.sourceName">{{orderinfo.source.sourceName}}</span>
            </nz-form-control>
          </nz-form-item>
<!--           <nz-form-item class="formitem1">
            <nz-form-label class="my-form-label" [nzSm]="8"><span>取票人</span></nz-form-label>
            <nz-form-control [nzSm]="16">
              <span>{{orderinfo.buyer}}</span>
            </nz-form-control>
          </nz-form-item> -->
          <nz-form-item class="formitem1">
            <nz-form-label class="my-form-label" [nzSm]="8"><span>支付方式</span></nz-form-label>
            <nz-form-control [nzSm]="16">
              <span *ngIf="orderinfo.payMethod">{{orderinfo.payMethod.payName}}</span>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="formitem1">
            <nz-form-label class="my-form-label" [nzSm]="8"><span>订单总金额</span></nz-form-label>
            <nz-form-control [nzSm]="16">
              <span>{{orderinfo.totalAmount}}</span>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="formitem1">
            <nz-form-label class="my-form-label" [nzSm]="8"><span>下单时间</span></nz-form-label>
            <nz-form-control [nzSm]="16">
              <span>{{orderinfo.creationTime | _date}}</span>
            </nz-form-control>
          </nz-form-item>
          <!--       <nz-form-item class="formitem1">
        <nz-form-label class="my-form-label" [nzSm]="6"><span>支付时间</span></nz-form-label>
        <nz-form-control [nzSm]="16">
          <span>{{orderinfo.creationTime}}</span>
        </nz-form-control>
      </nz-form-item> -->

          <button nz-button class="submitbtn" (click)="printticket()"
            *ngIf="isAllOperation || curmenupower.indexOf('Print') > -1">打印取票</button>

        </form>
      </div>
    </nz-col>
  </nz-row>
</nz-card>
