<div nz-row>
  <div nz-col nzSpan="15">
    <div class="ticketleft">
      <nz-table #editRowTable [nzData]="orderticket" [nzShowPagination]='false' [nzNoResult]="noDataTemplate" [nzScroll]="{ y: '600px' }" [nzFrontPagination]="false">
        <ng-template #noDataTemplate>
          <div>请添加票型</div>
        </ng-template>
        <thead>
          <tr>
            <th class="text-center" nzWidth="50px"></th>
            <th class="text-center" nzWidth="200px">票型</th>
            <th class="text-center" nzWidth="150px">单价</th>
            <th class="text-center" nzWidth="150px">数量</th>
            <th class="text-center" nzWidth="150px">小计</th>
            <!-- <th class="text-center" nzWidth="150px">操作</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of editRowTable.data; let i = index" class="editable-row">
            <td class="text-center">
              <i nz-icon nzType="minus-circle" nzTheme="outline" [nzTheme]="'twotone'" [nzTwotoneColor]="'#9E7BFF'" style="cursor: pointer;" (click)='deleteRow(i)'></i>
            </td>
            <td class="text-center">
              <div class="editable-cell" *ngIf="editindex !== i; else editTpl1">
                <div class="editable-cell-value-wrap" (click)="startEdit(i)">{{item.ticketname}}</div>
              </div>
              <ng-template #editTpl1>
                <nz-select [(ngModel)]="item.ticketid" nzAllowClear (ngModelChange)="ticketchange($event)">
                  <nz-option *ngFor="let titem of ticketlist;let ti = index " [nzValue]="titem.id" [nzLabel]="titem.ticketName"></nz-option>
                </nz-select>
              </ng-template>
            </td>
            <td class="text-center">
              <div>￥{{ item.ticketprice }}</div>
            </td>
            <td class="text-center">
              <div *ngIf="editindex !== i; else editTpl2" class="editable-cell-value-wrap" (click)="startEdit(i)">{{item.num}}</div>
              <ng-template #editTpl2>
                <nz-input-number [(ngModel)]="item.num" [nzMin]="1" [nzStep]="1" (ngModelChange)="numchange($event)"></nz-input-number>
              </ng-template>
            </td>
            <td class="text-center">
              <div>￥{{ item.ticketcount }}</div>
            </td>
<!--             <td class="text-center">
              <div class="btn" (click)='createOrEdit(i)'>登记资料</div>
            </td> -->
          </tr>
        </tbody>
      </nz-table>
      <!-- <div class="adds" (click)="addRow()"><i nz-icon nzType="plus-circle" nzTheme="outline"></i>添加票型</div> -->
      <button nz-button class="adds" type="button" (click)="addRow()" style="font-size: 16px">
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i> 添加票型
      </button>
    </div>
  </div>
  <div nz-col nzSpan="9" class="ticketright">
    <div class="ticketright-top">
      <div class="carttitle">结算</div>
    </div>
    <div class="ticketright-botton">
      <form nz-form>
        <nz-form-item class="botton-item">
          <nz-form-label class="botton-form" [nzSpan]="6"><span>售票类型</span></nz-form-label>
          <nz-form-control [nzSpan]="13">
            <div style="font-size: 16px">散客</div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="botton-item">
          <nz-form-label class="botton-form" nzRequired [nzSpan]="6" nzFor="time"><span>有效日期</span></nz-form-label>
          <nz-form-control [nzSpan]="13">
            <nz-range-picker nzFormat="yyyy-MM-dd" (ngModelChange)="datechange($event)" name="effectivetime" [(ngModel)]="effectivetime" [nzDisabledDate]="disabledDate"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="botton-item">
          <nz-form-label class="botton-form" nzRequired [nzSpan]="6"><span>支付方式</span></nz-form-label>
          <nz-form-control [nzSpan]="13">
            <nz-select [(ngModel)]="orderinfo.payMethodId" name="payMethodId" nzAllowClear>
              <nz-option *ngFor="let item of paymethodList;let i = index;" [nzValue]="item.id" [nzLabel]="item.payName"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="botton-item">
          <nz-form-label class="botton-form" nzRequired [nzSpan]="6"><span>折扣</span></nz-form-label>
          <nz-form-control [nzSpan]="13">
            <nz-select name="select-error" [ngModel]="discount" nzSuffix="元" (ngModelChange)="discountchange($event)">
              <nz-option *ngFor="let item of discountlist;let i = index;" [nzValue]="item" [nzLabel]="item + '%'"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="botton-item">
          <nz-form-label class="botton-form" [nzSpan]="6"><span>备注</span></nz-form-label>
          <nz-form-control [nzSpan]="13">
            <input nz-input name="remark" [(ngModel)]="remark" name="remark">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="botton-item">
          <nz-form-label class="botton-form" [nzSpan]="6"><span>总数量</span></nz-form-label>
          <nz-form-control [nzSpan]="13">
            <span class="botton-num">{{totalnum}}张</span>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="botton-item">
          <nz-form-label class="botton-form" [nzSpan]="6"><span>应收</span></nz-form-label>
          <nz-form-control [nzSpan]="13">
            <span class="botton-num">{{totalprice}}元</span>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="botton-item">
          <nz-form-label class="botton-form" nzRequired [nzSpan]="6"><span>实收</span></nz-form-label>
          <nz-form-control [nzSpan]="13">
            <nz-input-group nzSuffix="元">
              <input type="text" nz-input [(ngModel)]="receive" name="receive">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="botton-item">
          <nz-form-label class="botton-form" [nzSpan]="6"><span>找零</span></nz-form-label>
          <nz-form-control [nzSpan]="13">
            <span class="botton-num">￥{{parsenum()}}</span>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="botton-item" style="margin-top: 20px">
          <nz-form-control style="width: 100%;">
            <div class="submitbtn" (click)="settlement()">结算出票</div>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
