<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal" autocomplete="off">
  <!-- 模态框头部 -->
  <div class="modal-header">
    <div class="modal-title">
      <!-- <i class="anticon anticon-medicine-box mr-sm"></i> -->
      <span *ngIf="entity.id">{{l('Edit')}}</span>
      <span *ngIf="!entity.id">{{l('Create')}}</span>
    </div>
  </div>
  <!-- 模态框内容 -->
  <fieldset>
    <!-- 提示信息 -->
    <!-- <nz-alert nzType="info" nzCloseable [nzShowIcon]="true" nzMessage="l('我想提示点什么内容给你说')"></nz-alert> -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="customerName">{{l('CustomerName')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="customerName" #customerName="ngModel" [(ngModel)]="entity.customerName" [placeholder]="l('CustomerName')"
          required>
        <!-- 校验 -->
        <nz-form-explain *ngIf="customerName.control.dirty&&customerName.control.errors">
          <ng-container *ngIf="customerName.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="mobile">{{l('Mobile')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="mobile" #mobile="ngModel" [(ngModel)]="entity.mobile" [placeholder]="l('Mobile')"
          required>
        <!-- 校验 -->
        <nz-form-explain *ngIf="mobile.control.dirty&&mobile.control.errors">
          <ng-container *ngIf="mobile.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="loginPwd">{{l('LoginPwd')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="loginPwd" #loginPwd="ngModel" [(ngModel)]="entity.loginPwd" [placeholder]="l('LoginPwd')"
          required>
        <!-- 校验 -->
        <nz-form-explain *ngIf="loginPwd.control.dirty&&loginPwd.control.errors">
          <ng-container *ngIf="loginPwd.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sex">{{l('Sex')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <nz-select [(ngModel)]="entity.sex" nzAllowClear name="sex">
          <nz-option nzValue="Not" [nzLabel]="l('Not')"></nz-option>
          <nz-option nzValue="Woman" [nzLabel]="l('Woman')"></nz-option>
          <nz-option nzValue="Man" [nzLabel]="l('Man')"></nz-option>
        </nz-select>

      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="country">{{l('Country')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="country" #country="ngModel" [(ngModel)]="entity.country" [placeholder]="l('Country')">
      </nz-form-control>
    </nz-form-item>
    <!--         <nz-form-item nz-row>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="province">{{l('Province')}}</nz-form-label>
            <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                <input nz-input name="province" #province="ngModel"
                [(ngModel)]="entity.province"
                [placeholder]="l('Province')" >
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="city">{{l('City')}}</nz-form-label>
            <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                <input nz-input name="city" #city="ngModel"
                [(ngModel)]="entity.city"
                [placeholder]="l('City')" >
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="county">{{l('County')}}</nz-form-label>
            <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                <input nz-input name="county" #county="ngModel"
                [(ngModel)]="entity.county"
                [placeholder]="l('County')" >
            </nz-form-control>
        </nz-form-item> -->

    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="verifiableType">{{l('VerifiableType')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <nz-select [(ngModel)]="entity.verifiableType" nzAllowClear name="verifiableType" required>
          <nz-option nzValue="IdentityCard" [nzLabel]="l('IdentityCard')"></nz-option>
          <nz-option nzValue="ICCard" [nzLabel]="l('ICCard')"></nz-option>
          <nz-option nzValue="QRCode" [nzLabel]="l('QRCode')"></nz-option>
          <nz-option nzValue="ReturnCard" [nzLabel]="l('ReturnCard')"></nz-option>
          <nz-option nzValue="TaiwanCard" [nzLabel]="l('TaiwanCard')"></nz-option>
        </nz-select>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="certificatesNum">{{l('CertificatesNum')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="certificatesNum" #certificatesNum="ngModel" [(ngModel)]="entity.certificatesNum"
          [placeholder]="l('CertificatesNum')" required>
        <nz-form-explain *ngIf="certificatesNum.control.dirty&&certificatesNum.control.errors">
          <ng-container *ngIf="certificatesNum.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <!--         <nz-form-item nz-row>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="job">{{l('Job')}}</nz-form-label>
            <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                <input nz-input name="job" #job="ngModel"
                [(ngModel)]="entity.job"
                [placeholder]="l('Job')" >
            </nz-form-control>
        </nz-form-item> -->
    <!--         <nz-form-item nz-row>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="openID">{{l('OpenID')}}</nz-form-label>
            <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                <input nz-input name="openID" #openID="ngModel"
                [(ngModel)]="entity.openID"
                [placeholder]="l('OpenID')" >
            </nz-form-control>
        </nz-form-item> -->
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="photo">{{l('Photo')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <!-- <img [src]="entity.photo" style="width: 100px;height: 100px;" *ngIf="entity.photo"> -->
        <nz-upload [nzAction]="uploadurl" [nzShowUploadList]="false" [nzHeaders]="hearder" [nzLimit]="1" [nzMultiple]="true"
          nzName="file" (nzChange)="handleChange($event)">
          <button nz-button type="button"><span>{{l('Upload')}}</span></button>
        </nz-upload>
        <span style="margin-left: 10px">{{photo}}</span>
      </nz-form-control>
    </nz-form-item>
    <!--         <nz-form-item nz-row>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateOfBirth">{{l('DateOfBirth')}}</nz-form-label>
            <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                <nz-time-picker name="dateOfBirth" #dateOfBirth="ngModel"
                [(ngModel)]="entity.dateOfBirth" ></nz-time-picker>
            </nz-form-control>
        </nz-form-item> -->
  </fieldset>
  <!-- 模态框底部 -->
  <div class="modal-footer">
    <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
      <!-- <i class="anticon anticon-close-circle-o"></i>  -->
      {{l("Cancel")}}
    </button>
    <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid|| saving" [nzLoading]="saving">
      <!-- <i class="anticon anticon-save" *ngIf="!saving"></i>  -->
      {{l("Save")}}
    </button>
  </div>
</form>
