<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal" autocomplete="off">
  <!-- 模态框头部 -->
  <div class="modal-header">
    <div class="modal-title">
      <i class="anticon anticon-medicine-box mr-sm"></i>
      <span *ngIf="entity.id">{{l('Edit')}}</span>
      <span *ngIf="!entity.id">{{l('Create')}}</span>
    </div>
  </div>
  <!-- 模态框内容 -->
  <fieldset>
    <!-- 提示信息 -->
    <!-- <nz-alert nzType="info" nzCloseable [nzShowIcon]="true" nzMessage="l('我想提示点什么内容给你说')"></nz-alert> -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="payName">{{l('PayName')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="payName" #payName="ngModel" [(ngModel)]="entity.payName" [placeholder]="l('PayName')" required>
        <!-- 校验 -->
        <nz-form-explain *ngIf="payName.control.dirty&&payName.control.errors">
          <ng-container *ngIf="payName.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="payCode">{{l('PayCode')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="payCode" #payCode="ngModel" [(ngModel)]="entity.payCode" [placeholder]="l('PayCode')" required>
        <!-- 校验 -->
        <nz-form-explain *ngIf="payCode.control.dirty&&payCode.control.errors">
          <ng-container *ngIf="payCode.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="sort">{{l('Sort')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="sort" #sort="ngModel" [(ngModel)]="entity.sort" [placeholder]="l('Sort')" required>
        <!-- 校验 -->
        <nz-form-explain *ngIf="sort.control.dirty&&sort.control.errors">
          <ng-container *ngIf="sort.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="isEnabled">{{l('IsEnabled')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <label nz-checkbox name="isEnabled" #isEnabled="ngModel" [(ngModel)]="entity.isEnabled" required>{{l('IsEnabled')}}</label>
        <!-- 校验 -->
        <nz-form-explain *ngIf="isEnabled.control.dirty&&isEnabled.control.errors">
          <ng-container *ngIf="isEnabled.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </fieldset>
  <!-- 模态框底部 -->
  <div class="modal-footer">
    <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
      <!-- <i class="anticon anticon-close-circle-o"></i>  -->
      {{l("Cancel")}}
    </button>
    <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid|| saving" [nzLoading]="saving">
      <!-- <i class="anticon anticon-save" *ngIf="!saving"></i> -->
      {{l("Save")}}
    </button>
  </div>
</form>
