<form nz-form #validateForm="ngForm" (ngSubmit)="save()" autocomplete="off">
  <div class="modal-header">
    <div class="modal-title">

      <span>{{l('CreateNewUser')}}</span>
    </div>
  </div>
  <fieldset>
    <ng-template #userInfoTabTitleTpl>
      <i class="anticon anticon-user"></i>{{l('UserInformations')}}
    </ng-template>


    <!-- 文本框 -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="4" nzFor="info1" nzRequired>{{l("UserName")}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="8">
        <nz-input-group>
          <input nz-input #userNameInput="ngModel" name="info1" [(ngModel)]="forminfo.info1" [placeholder]="l('UserName')" required maxlength="32">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>



    <!-- 文本域 -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="4" nzFor="info2">{{l('WechatAppType')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="8">
        <textarea rows="4" name="info2" nz-input [(ngModel)]="forminfo.info2" placeholder="{{l('WechatAppType')}}"></textarea>
      </nz-form-control>
    </nz-form-item>
    

    <!-- 下拉框 -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="4" nzFor="info3">{{l('WechatAppType')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="8">
        <nz-select name="info3" [(ngModel)]="forminfo.info3" [nzPlaceHolder]="l('WechatAppType')" style="width: 100%;">
          <nz-option *ngFor="let option of selectlist" [nzLabel]="option.key" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>


    <!-- 多选下拉框 -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="4" nzFor="info4">{{l('WechatAppType')}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="8">
        <nz-select name="info4" [(ngModel)]="forminfo.info4" [nzPlaceHolder]="l('WechatAppType')" style="width: 100%;" nzMode="multiple">
          <nz-option *ngFor="let option of selectlist" [nzLabel]="option.key" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>


    <!-- 开关 -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="4" nzFor="info5">{{l("SetRandomPassword")}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="8">
        <nz-switch name="info5" [(ngModel)]="forminfo.info5" [nzCheckedChildren]="l('Yes')" [nzUnCheckedChildren]="l('No')"></nz-switch>
      </nz-form-control>
    </nz-form-item>


    <!-- 日期选择 -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="4">{{l("DateRange")}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="8">
        <nz-range-picker name="info6" [(ngModel)]="forminfo.info6" [nzPlaceHolder]="[l('StartDateTime'),l('EndDateTime')]" style="width:220px"></nz-range-picker>
      </nz-form-control>
    </nz-form-item>


    <!-- 上传 -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="4" nzFor="info7" nzRequired>{{l("UserName")}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="20">
        <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" [nzFileList]="forminfo.info7" [nzLimit]='0' [nzSize]='2048'>
          <button nz-button><i nz-icon nzType="upload"></i><span>{{l('FileUpload')}}</span></button>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>

    <!-- 富文本 -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="4" nzFor="info8" nzRequired>{{l("UserName")}}</nz-form-label>
      <nz-form-control nz-col [nzSm]="20">
        <!-- <simplemde formControlName="content"></simplemde> -->
        <quill-editor name="info8" (onEditorCreated)="EditorCreated($event)" [(ngModel)]="forminfo.info8" placeholder="请输入公告内容" (onContentChanged)="contentChanged($event)">
          <!-- style="height: 200px" -->

          <div quill-editor-toolbar>
            <button class="ql-bold" [title]="'Bold'"></button>
            <select class="ql-align" [title]="'Aligment'">
              <option selected></option>
              <option value="center"></option>
              <option value="right"></option>
              <option value="justify"></option>
            </select>

            <button class="ql-image"></button>

            <select class="ql-color">
              <option selected="selected"></option>
              <option value="#e60000"></option>
              <option value="#ff9900"></option>
              <option value="#ffff00"></option>
              <option value="#008a00"></option>
              <option value="#0066cc"></option>
              <option value="#9933ff"></option>
              <option value="#ffffff"></option>
              <option value="#facccc"></option>
              <option value="#ffebcc"></option>
              <option value="#ffffcc"></option>
              <option value="#cce8cc"></option>
              <option value="#cce0f5"></option>
              <option value="#ebd6ff"></option>
              <option value="#bbbbbb"></option>
              <option value="#f06666"></option>
              <option value="#ffc266"></option>
              <option value="#ffff66"></option>
              <option value="#66b966"></option>
              <option value="#66a3e0"></option>
              <option value="#c285ff"></option>
              <option value="#888888"></option>
              <option value="#a10000"></option>
              <option value="#b26b00"></option>
              <option value="#b2b200"></option>
              <option value="#006100"></option>
              <option value="#0047b2"></option>
              <option value="#6b24b2"></option>
              <option value="#444444"></option>
              <option value="#5c0000"></option>
              <option value="#663d00"></option>
              <option value="#666600"></option>
              <option value="#003700"></option>
              <option value="#002966"></option>
              <option value="#3d1466"></option>
            </select>

            <select class="ql-background">
              <option value="#000000"></option>
              <option value="#e60000"></option>
              <option value="#ff9900"></option>
              <option value="#ffff00"></option>
              <option value="#008a00"></option>
              <option value="#0066cc"></option>
              <option value="#9933ff"></option>
              <option selected="selected"></option>
              <option value="#facccc"></option>
              <option value="#ffebcc"></option>
              <option value="#ffffcc"></option>
              <option value="#cce8cc"></option>
              <option value="#cce0f5"></option>
              <option value="#ebd6ff"></option>
              <option value="#bbbbbb"></option>
              <option value="#f06666"></option>
              <option value="#ffc266"></option>
              <option value="#ffff66"></option>
              <option value="#66b966"></option>
              <option value="#66a3e0"></option>
              <option value="#c285ff"></option>
              <option value="#888888"></option>
              <option value="#a10000"></option>
              <option value="#b26b00"></option>
              <option value="#b2b200"></option>
              <option value="#006100"></option>
              <option value="#0047b2"></option>
              <option value="#6b24b2"></option>
              <option value="#444444"></option>
              <option value="#5c0000"></option>
              <option value="#663d00"></option>
              <option value="#666600"></option>
              <option value="#003700"></option>
              <option value="#002966"></option>
              <option value="#3d1466"></option>
            </select>

            <select class="ql-size">
              <option value="small"></option>
              <option selected></option>
              <option value="large"></option>
              <option value="huge"></option>
            </select>

            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
            <button type="button" class="ql-italic"></button>

            <button type="button" class="ql-underline"></button>

            <button type="button" class="ql-strike"></button>

            <button type="button" class="ql-list" value="ordered"></button>

            <button type="button" class="ql-indent" value="-1"></button>
            <button type="button" class="ql-indent" value="+1"></button>



            <select class="ql-font">
              <option selected="selected">标准字体</option>
              <option value="serif">衬线字体</option>
              <option value="monospace">等宽字体</option>
            </select>

            <button type="button" class="ql-clean"></button>

            <button type="button" class="ql-link"></button>
          </div>
        </quill-editor>
      </nz-form-control>
    </nz-form-item>


  </fieldset>
  <div class="modal-footer">

    <button nz-button [nzType]="'default'" type="button" (click)="close($event)" [disabled]="saving">
      <!-- <i class="anticon anticon-close-circle-o"></i> -->
      {{l("Cancel")}}
    </button>
    <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid || saving" [nzLoading]="saving">
      <!-- <i class="anticon anticon-save" *ngIf="!saving"></i> -->
      {{l("Save")}}
    </button>
  </div>
</form>
