

<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal" autocomplete="off">
    <!-- 模态框头部 -->
    <div class="modal-header">
        <div class="modal-title">
            <i class="anticon anticon-medicine-box mr-sm"></i>
            <span *ngIf="entity.id">{{l('Edit')}}</span>
            <span *ngIf="!entity.id">{{l('Create')}}</span>
        </div>
    </div>
    <!-- 模态框内容 -->
    <fieldset>
        <!-- 提示信息 -->
        <!-- <nz-alert nzType="info" nzCloseable [nzShowIcon]="true" nzMessage="l('我想提示点什么内容给你说')"></nz-alert> -->
            <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="activityTempId">{{l('ActivityTempId')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="activityTempId" #activityTempId="ngModel"
                                   [(ngModel)]="entity.activityTempId"
                                   [placeholder]="l('ActivityTempId')"  required >

                            <!-- 校验 -->
                            <nz-form-explain *ngIf="activityTempId.control.dirty&&activityTempId.control.errors">
                                                                <ng-container *ngIf="activityTempId.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                            </nz-form-explain>

                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="ticketId">{{l('TicketId')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="ticketId" #ticketId="ngModel"
                                   [(ngModel)]="entity.ticketId"
                                   [placeholder]="l('TicketId')"  required >

                            <!-- 校验 -->
                            <nz-form-explain *ngIf="ticketId.control.dirty&&ticketId.control.errors">
                                                                <ng-container *ngIf="ticketId.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                            </nz-form-explain>

                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="ticketName">{{l('TicketName')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="ticketName" #ticketName="ngModel"
                                   [(ngModel)]="entity.ticketName"
                                   [placeholder]="l('TicketName')"  required >

                            <!-- 校验 -->
                            <nz-form-explain *ngIf="ticketName.control.dirty&&ticketName.control.errors">
                                                                <ng-container *ngIf="ticketName.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                            </nz-form-explain>

                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="salePrice">{{l('SalePrice')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="salePrice" #salePrice="ngModel"
                                   [(ngModel)]="entity.salePrice"
                                   [placeholder]="l('SalePrice')"  required >

                            <!-- 校验 -->
                            <nz-form-explain *ngIf="salePrice.control.dirty&&salePrice.control.errors">
                                                                <ng-container *ngIf="salePrice.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                            </nz-form-explain>

                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="quantity">{{l('Quantity')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="quantity" #quantity="ngModel"
                                   [(ngModel)]="entity.quantity"
                                   [placeholder]="l('Quantity')"  required >

                            <!-- 校验 -->
                            <nz-form-explain *ngIf="quantity.control.dirty&&quantity.control.errors">
                                                                <ng-container *ngIf="quantity.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                            </nz-form-explain>

                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="uniPrice">{{l('UniPrice')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="uniPrice" #uniPrice="ngModel"
                                   [(ngModel)]="entity.uniPrice"
                                   [placeholder]="l('UniPrice')"  required >

                            <!-- 校验 -->
                            <nz-form-explain *ngIf="uniPrice.control.dirty&&uniPrice.control.errors">
                                                                <ng-container *ngIf="uniPrice.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                            </nz-form-explain>

                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="discount">{{l('Discount')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="discount" #discount="ngModel"
                                   [(ngModel)]="entity.discount"
                                   [placeholder]="l('Discount')"  required >

                            <!-- 校验 -->
                            <nz-form-explain *ngIf="discount.control.dirty&&discount.control.errors">
                                                                <ng-container *ngIf="discount.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                            </nz-form-explain>

                </nz-form-control>
            </nz-form-item>

    </fieldset>
    <!-- 模态框底部 -->
    <div class="modal-footer">
        <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
            <i class="anticon anticon-close-circle-o"></i> {{l("Cancel")}}
        </button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid|| saving" [nzLoading]="saving">
            <i class="anticon anticon-save" *ngIf="!saving"></i> {{l("Save")}}
        </button>
    </div>
</form>





