<nz-card [nzBordered]="false">
  <div class="mb-md">
    <nz-row nzGutter="16">
      <form nz-form class="mb-md" [nzLayout]="'inline'" [nzNoColon]="true">
        <nz-form-item>
          <nz-form-label nzFor="deviceId">{{l('Device')}}</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="queryData[0].value" nzAllowClear name="deviceId" required style="width: 180px">
              <nz-option *ngFor="let item of devicList;let i = index;" [nzValue]="item.id" [nzLabel]="item.deviceName"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="formitem">
          <nz-form-label>检票时间</nz-form-label>
          <nz-form-control>
            <nz-range-picker style="width: 230px" nzFormat="yyyy-MM-dd" (ngModelChange)="datechange($event)" name="collectionTime" [nzDisabledDate]="disabledDate"
            [(ngModel)]="collectionTime"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item style=" margin-top: 4px;">
          <button nz-button [nzType]="'primary'" type="submit" (click)="refresh()">
            <span>
              {{l("Query")}}
            </span>
          </button>
        </nz-form-item>
      </form>
    </nz-row>
  </div>
  <!-- 实体的表格内容 -->
  <nz-row class="my-md">
    <nz-table #ajaxTable [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize" nzBordered style="word-break:break-all" (nzPageIndexChange)="pageNumberChange()" (nzPageSizeChange)="refresh()" [nzShowSizeChanger]="true" [nzShowQuickJumper]="true" [nzNoResult]="noDataTemplate" [nzFrontPagination]="false"
    >
      <!-- 暂无数据组件 -->
      <ng-template #noDataTemplate>
        <no-data></no-data>
      </ng-template>
      <!-- 表头 -->
      <thead (nzSortChange)="gridSort($event)">
        <tr>
          <th nzShowCheckbox [(nzChecked)]="allChecked" [nzDisabled]="allCheckboxDisabled" [nzIndeterminate]="checkboxIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
          <th nz-th class="text-center">
            <span>设备名称</span>
          </th>
          <th nz-th class="text-center">
            <span>设备编号</span>
          </th>
          <th nz-th class="text-center">
            <span>设备分类</span>
          </th>
          <th nz-th class="text-center">
            <span>证件类型</span>
          </th>
          <th nz-th class="text-center">
            <span>证件号</span>
          </th>
          <th nz-th class="text-center">
            <span>返回状态</span>
          </th>
          <th nz-th class="text-center">
            <span>返回信息</span>
          </th>
          <th nz-th class="text-center">
            <span>操作员</span>
          </th>
          <th nz-th class="text-center" nzShowSort nzSortKey="creationTime">
            <span>操作时间</span>
          </th>
        </tr>
      </thead>
      <!-- 表格内容 -->
      <tbody>
        <tr *ngFor="let item of ajaxTable.data">
          <!-- 全选框 -->
          <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshCheckStatus(dataList)"></td>

          <td nz-td class="text-center">
            <span *ngIf="item.device">
              {{item.device.deviceName}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span *ngIf="item.device">
              {{item.device.deviceCode}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span *ngIf="item.device">
              {{l(item.device.deviceType)}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{l(item.verifiableType)}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{item.verifiableValue}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{item.returnState}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{item.returnInfo}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{item.creatorUser&&item.creatorUser.userName}}
            </span>
          </td>
          <td nz-td class="text-center">
            <span>
              {{item.creationTime |_date}}
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-row>
</nz-card>
