<div style="display: flex;justify-content: space-between;">
  <div style="width: 40%">
    <nz-card style="width:100%" class="my-card">
      <!-- <nz-radio-group [(ngModel)]="range1" [nzButtonStyle]="'solid'" style="display: flex;margin: 20px 0;" (ngModelChange)='setecharts1()'>
        <label nz-radio-button nzValue="Daily">今日</label>
        <label nz-radio-button nzValue="Weekly">一周</label>
        <label nz-radio-button nzValue="Monthly">一月</label>
        <label nz-radio-button nzValue="Yearly">一年</label>
      </nz-radio-group> -->
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="peoplecount | number" [nzTitle]="'今日游客数量'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="incomecount | number" [nzTitle]="'今日收入(RMB)'"></nz-statistic>
        </nz-col>
      </nz-row>
      <div id="container1" style="height: 300px"></div>
    </nz-card>
    <nz-card style="width:100%;margin-top: 10px" class="my-card">
      <p style="font-size: 20px;color: #3C4353">票型比例分析</p>
      <!-- <nz-radio-group [(ngModel)]="range2" [nzButtonStyle]="'solid'" style="display: flex;margin: 20px 0;" (ngModelChange)='setecharts2()'>
        <label nz-radio-button nzValue="Daily">今日</label>
        <label nz-radio-button nzValue="Weekly">一周</label>
        <label nz-radio-button nzValue="Monthly">一月</label>
        <label nz-radio-button nzValue="Yearly">一年</label>
      </nz-radio-group> -->
      <div id="container2" style="height: 300px"></div>
    </nz-card>
  </div>
  <div style="width: 57.5%">
    <nz-card style="width: 100%;min-height: 600px;">
      <p style="font-size: 20px;color: #3C4353">可售航班信息</p>
      <nz-tabset [nzTabBarExtraContent]="tabBarextra" [nzAnimated]="false" [nzSelectedIndex]='nzSelectedIndex'>
        <nz-tab (nzSelect)="getschedule(1)" nzTitle="今天"></nz-tab>
        <nz-tab (nzSelect)="getschedule(7)" nzTitle="后一周"></nz-tab>
        <nz-tab (nzSelect)="getschedule(30)" nzTitle="后一月"></nz-tab>
        <nz-tab (nzSelect)="getschedule(365)" nzTitle="后一年"></nz-tab>
        <nz-tab (nzSelect)="getschedule(0)" nzTitle="自定义时间"></nz-tab>
      </nz-tabset>
      <ng-template #tabBarextra>
        <nz-range-picker [nzFormat]="yyyy/MM/dd" [ngModel]="datepicker" (ngModelChange)="datechange($event)" [nzDisabledDate]="disabledDate"></nz-range-picker>
      </ng-template>
      <nz-table #ajaxTable [nzData]="schedulelist" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th class="text-center"></th>
            <th class="text-center">航班</th>
            <th class="text-center">状态</th>
            <th class="text-center">航线</th>
            <th class="text-center">游船</th>
            <th class="text-center">出发时间</th>
            <th class="text-center">到达时间</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ajaxTable.data;let i = index;">
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">{{ item.scheduleCode }}</td>
            <td class="text-center">{{l(item.scheduleStatus)}}</td>
            <td class="text-center">{{ item.route.routeName }}</td>
            <td class="text-center">{{ item.boat.boatName }}</td>
            <td class="text-center">{{ item.startTimeStr }}</td>
            <td class="text-center">{{ item.endTimeStr }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
</div>
<div style="background: #EBF1F5;width: 100%;height: 50px"></div>


<!-- <div ng-mousemove="countfunc" style="width: 200px;height: 200px;background: #eee;">在我这移动鼠标!</div>

<h1>{{count}}</h1> -->