@import "../../../../node_modules/@delon/theme/styles/default";
:host ::ng-deep {

  @media screen and (max-width: @screen-xl) and (min-width: @screen-lg) {

  }
  @media screen and (max-width: @screen-lg) {

  }
  @media screen and (max-width: @screen-md) {

  }
  @media screen and (max-width: @screen-sm) {

  }
  @media screen and (max-width: @screen-xs) {

  }

  .ant-tabs-bar{
    border:none;
  }
  .ant-card-bordered{
    border: none;
  }
  .my-card{
    height: 320px;
  }
  .my-card >.ant-card-body{
    padding: 10px 24px;
  }

  .ctrlbox{
    display: flex;
  }

  .ant-btn-primary{
    background: #5D77FF;
    border-color: #5D77FF;
  }

  .ant-btn-info:hover{
    border-color: #5D77FF;
    color: #5D77FF;
  }

}