<div style="display: flex;justify-content: space-between;">
  <div style="width: 49.5%">
    <nz-card style="width:100%" class="my-card">
      <div class="ctrlbox">
        <button nz-button [nzType]="nzSelectedIndex == 1 ?'primary':'info'" (click)="getdata(1,1)">今天</button>
        <button nz-button [nzType]="nzSelectedIndex == 2 ?'primary':'info'" (click)="getdata(7,2)">一周</button>
        <button nz-button [nzType]="nzSelectedIndex == 3 ?'primary':'info'" (click)="getdata(30,3)">一月</button>
        <button nz-button [nzType]="nzSelectedIndex == 4 ?'primary':'info'" (click)="getdata(365,4)">一年</button>
        <button nz-button [nzType]="nzSelectedIndex == 5 ?'primary':'info'" (click)="getdata(0,5)">自定义</button>
        <nz-range-picker style="margin-left: 8px" nzFormat="yyyy/MM/dd" [ngModel]="datepicker" (ngModelChange)="datechange($event)" [nzDisabledDate]="disabledDate"></nz-range-picker>
      </div>
      <div style="font-size: 20px;color: #3C4353;margin: 10px 0;">营收状况</div>
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="peoplecount | number" [nzTitle]="'今日游客数量'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="incomecount | number" [nzTitle]="'今日收入(RMB)'"></nz-statistic>
        </nz-col>
      </nz-row>
      <div id="container1" style="height: 140px"></div>
    </nz-card>
    <nz-card style="width:100%;margin-top: 10px" class="my-card">
      <div style="font-size: 20px;color: #3C4353">票型比例分析</div>
      <div id="container2" style="height: 250px"></div>
    </nz-card>
    <nz-card style="width: 100%;" class="my-card">
      <nz-table #ajaxTable [nzData]="schedulelist" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th class="text-center">退票票型</th>
            <th class="text-center">已退票数</th>
            <th class="text-center">退票金额</th>
            <th class="text-center">退票率</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ajaxTable.data;let i = index;">
            <td class="text-center">{{ item.scheduleCode }}</td>
            <td class="text-center">{{ item.scheduleStatus }}</td>
            <td class="text-center">{{ item.route.routeName }}</td>
            <td class="text-center">{{ item.boat.boatName }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
  <div style="width: 49.5%;">
    <nz-card style="width: 100%;" class="my-card">
      <nz-table #ajaxTable [nzData]="schedulelist" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th class="text-center">票型名称</th>
            <th class="text-center">已售票数</th>
            <th class="text-center">入场人次</th>
            <th class="text-center">收入</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ajaxTable.data;let i = index;">
            <td class="text-center">{{ item.scheduleCode }}</td>
            <td class="text-center">{{ item.scheduleStatus }}</td>
            <td class="text-center">{{ item.route.routeName }}</td>
            <td class="text-center">{{ item.boat.boatName }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
    <nz-card style="width: 100%;" class="my-card">
      <nz-table #ajaxTable [nzData]="schedulelist" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th class="text-center">销售渠道</th>
            <th class="text-center">已售票数</th>
            <th class="text-center">已验票数</th>
            <th class="text-center">验票占比</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ajaxTable.data;let i = index;">
            <td class="text-center">{{ item.scheduleCode }}</td>
            <td class="text-center">{{ item.scheduleStatus }}</td>
            <td class="text-center">{{ item.route.routeName }}</td>
            <td class="text-center">{{ item.boat.boatName }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
    <nz-card style="width: 100%;" class="my-card">
      <nz-table #ajaxTable [nzData]="schedulelist" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th class="text-center">闸机验票情况</th>
            <th class="text-center">验票成功数</th>
            <th class="text-center">验票失败数</th>
            <th class="text-center">验票成功率</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ajaxTable.data;let i = index;">
            <td class="text-center">{{ item.scheduleCode }}</td>
            <td class="text-center">{{ item.scheduleStatus }}</td>
            <td class="text-center">{{ item.route.routeName }}</td>
            <td class="text-center">{{ item.boat.boatName }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
</div>
<div style="background: #EBF1F5;width: 100%;height: 50px"></div>
