<nz-card [nzBordered]="false">
  <nz-row>
    <form nz-form (ngSubmit)="refreshGoFirstPage()" class="mb-md" [nzLayout]="'inline'"[nzNoColon]="true">

      <!-- 文本 -->
      <nz-form-item>
        <nz-form-label>{{l("UserName")}}</nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input type="text" nz-input [(ngModel)]="forminfo.info1" name="UserName" [placeholder]="l('UserName')">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- 下拉框 -->
      <nz-form-item>
        <nz-form-label>{{l("ErrorState")}}</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="forminfo.info2" name="HasException" [nzPlaceHolder]="l('ErrorState')" nzAllowClear style="width: 130px">
            <nz-option [nzLabel]="l('All')" nzValue=""></nz-option>
            <nz-option [nzLabel]="l('Success')" nzValue="false"></nz-option>
            <nz-option [nzLabel]="l('HasError')" nzValue="true"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- 日期选择 -->
      <nz-form-item>
        <nz-form-label>{{l("DateRange")}}</nz-form-label>
        <nz-form-control>
          <nz-range-picker name="DateRange" [(ngModel)]="forminfo.info3" [nzPlaceHolder]="[l('StartDateTime'),l('EndDateTime')]" style="width:220px"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item style="margin-left: 10px">
        <nz-form-control>
          <button nz-button nzType="primary">{{l('Search')}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-row>

  <!-- 操作常规按钮部分 -->
  <nz-row nzGutter="8">
    <nz-col nzMd="20" nzSm="12" class="btn-gutter">
      <button nz-button [nzType]="'primary'" (click)="create()">
        <span>{{l("Create")}}</span>
      </button>
      <button nz-button [nzType]="'primary'" (click)="edit()">
        <span>{{l("Edit")}}</span>
      </button>

      <button nz-button [nzType]="'danger'">
        <span>{{l("Delete")}}</span>
      </button>

      <button nz-button [nzType]="'primary'">
        <span>{{l("ImportFromExcel")}}</span>
      </button>
      
      <button nz-button [nzType]="'primary'">
        <span>{{l("ExportToExcel")}}</span>
      </button>
    </nz-col>
  </nz-row>
  <!-- 表格内容 -->
  <nz-row class="my-md">
    <nz-table #ajaxTable [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber" nzSize="default" nzBordered [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" (nzPageIndexChange)="pageNumberChange()" (nzPageSizeChange)="refresh()" [nzShowSizeChanger]="true" [nzNoResult]="noDataTemplate" [nzFrontPagination]="false" [nzScroll]="{ x: '920px',y:'480px' }" style="width: 100%">
      <!-- 暂无数据 -->
      <ng-template #noDataTemplate>
        <no-data></no-data>
      </ng-template>
      <!-- 表头 -->
      <thead (nzSortChange)="gridSort($event)">
        <tr>
          <!-- 选择框 -->
          <th nzShowCheckbox [(nzChecked)]="allChecked" [nzDisabled]="allCheckboxDisabled" [nzIndeterminate]="checkboxIndeterminate" (nzCheckedChange)="checkAll($event)" nzWidth="80px"></th>
          <!-- 序号 -->
          <th nzWidth="80px" class="text-center">
            <span>#</span>
          </th>
          <th class="text-center" nzWidth="180px">
            <span>{{l('UserName')}}</span>
          </th>
          <th class="text-center" nzWidth="180px">
            <span>{{l('Actives')}}</span>
          </th>
          <th class="text-center" nzWidth="180px">
            <span>{{l('CreationTime')}}</span>
          </th>
          <th class="text-center">
            <span>{{l('Role')}}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ajaxTable.data; let i = index;">
          <!-- 选择框 -->
          <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshCheckStatus(dataList)"></td>
          <!-- 序号 -->
          <td class="text-center">{{i + 1}}</td>
          <!-- 文本 -->
          <td class="text-center">
            <ellipsis lines="1">
              <span nz-tooltip [nzTitle]="item.userName">
                {{item.userName}}
              </span>
            </ellipsis>
          </td>
          <!-- boolean -->
          <td class="text-center" [innerHTML]="item.isActive | yn"> </td>
          <!-- 时间 -->
          <td class="text-center">
            <ellipsis lines="1">
              <span nz-tooltip [nzTitle]="item.creationTime|_date">
                {{item.creationTime|_date}}
              </span>
            </ellipsis>
          </td>
          <!-- 数组 -->
          <td>
            <ellipsis lines="1">
              <span nz-tooltip>
                <nz-tag *ngFor="let role of item.roles">
                  {{role.roleName}}
                </nz-tag>
              </span>
            </ellipsis>
          </td>
        </tr>
        <tr>
          <td class="text-center"></td>
          <td class="text-center">合计</td>
          <td class="text-center">1</td>
          <td class="text-center">1</td>
          <td class="text-center">1</td>
          <td class="text-center">1</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-row>
</nz-card>
