

<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal" autocomplete="off">
    <!-- 模态框头部 -->
    <div class="modal-header">
        <div class="modal-title">
            <i class="anticon anticon-medicine-box mr-sm"></i>
            <span *ngIf="entity.id">{{l('Edit')}}</span>
            <span *ngIf="!entity.id">{{l('Create')}}</span>
        </div>
    </div>
    <!-- 模态框内容 -->
    <fieldset>
        <!-- 提示信息 -->
        <!-- <nz-alert nzType="info" nzCloseable [nzShowIcon]="true" nzMessage="l('我想提示点什么内容给你说')"></nz-alert> -->
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="activityId">{{l('ActivityId')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="activityId" #activityId="ngModel"
                                   [(ngModel)]="entity.activityId"
                                   [placeholder]="l('ActivityId')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ticketId">{{l('TicketId')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="ticketId" #ticketId="ngModel"
                                   [(ngModel)]="entity.ticketId"
                                   [placeholder]="l('TicketId')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="quantity">{{l('Quantity')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="quantity" #quantity="ngModel"
                                   [(ngModel)]="entity.quantity"
                                   [placeholder]="l('Quantity')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="unitPrice">{{l('UnitPrice')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="unitPrice" #unitPrice="ngModel"
                                   [(ngModel)]="entity.unitPrice"
                                   [placeholder]="l('UnitPrice')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="discount">{{l('Discount')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="discount" #discount="ngModel"
                                   [(ngModel)]="entity.discount"
                                   [placeholder]="l('Discount')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="salePrice">{{l('SalePrice')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="salePrice" #salePrice="ngModel"
                                   [(ngModel)]="entity.salePrice"
                                   [placeholder]="l('SalePrice')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="totalAmount">{{l('TotalAmount')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="totalAmount" #totalAmount="ngModel"
                                   [(ngModel)]="entity.totalAmount"
                                   [placeholder]="l('TotalAmount')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">{{l('Remark')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="remark" #remark="ngModel"
                                   [(ngModel)]="entity.remark"
                                   [placeholder]="l('Remark')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="accountId">{{l('AccountId')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="accountId" #accountId="ngModel"
                                   [(ngModel)]="entity.accountId"
                                   [placeholder]="l('AccountId')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="accountDetailId">{{l('AccountDetailId')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="accountDetailId" #accountDetailId="ngModel"
                                   [(ngModel)]="entity.accountDetailId"
                                   [placeholder]="l('AccountDetailId')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="orgDetailId">{{l('OrgDetailId')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="orgDetailId" #orgDetailId="ngModel"
                                   [(ngModel)]="entity.orgDetailId"
                                   [placeholder]="l('OrgDetailId')" >


                </nz-form-control>
            </nz-form-item>

    </fieldset>
    <!-- 模态框底部 -->
    <div class="modal-footer">
        <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
            <i class="anticon anticon-close-circle-o"></i> {{l("Cancel")}}
        </button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid|| saving" [nzLoading]="saving">
            <i class="anticon anticon-save" *ngIf="!saving"></i> {{l("Save")}}
        </button>
    </div>
</form>





